version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: canva_cracha_db
    environment:
      POSTGRES_DB: badge_editor_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: canva_cracha_backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/badge_editor_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: canva_cracha_frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data:
